{% extends 'base.html.twig' %}

{% block body %}

    <h1>Change due date for the task #{{ task.id }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}